* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Times, sans-serif;
  color: black;
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 2px solid black;
  margin: 1rem;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  padding: 0 1.5rem;
}

.navLinks li:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

h1,
h2 {
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
}

#showDate {
  text-align: right;
  margin-right: 1.5rem;
}

.booksList {
  margin: auto;
  padding: 1rem;
}

.booksList__container {
  margin: auto;
  padding: 1rem;
}

.bookList__table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  border: 2px solid black;
}

.bookList__table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
}

.bookList__table td {
  display: flex;
  align-items: center;
}

.even-row {
  background-color: lightgray;
}

.odd-row {
  background-color: white;
}

.bookList__book__delete {
  border: 2px solid black;
  padding: 2px 1rem;
  font-weight: 600;
}

.addBook {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  margin: 1rem auto;
}

label {
  display: none;
}

input {
  border: 2px solid black;
}

input[type="submit"] {
  width: 60px;
  align-self: flex-end;
  padding: 2px 1rem;
  font-weight: 600;
}

.section_divider {
  width: 10%;
  height: 2px;
  background-color: black;
  margin: 1rem auto;
}

.contact {
  display: none;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.contact__container ul {
  margin-top: 1rem;
  padding-left: 3rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 2px solid black;
  margin: 1rem;
}
